.nav-pagination {
  padding-bottom: 10px;
}
.pagination li {
  width: auto;
}
.pagination li button {
  font-weight: 600;
  background: transparent;
  color: #0ff;
  padding-left: 10px;
  padding-right: 10px;
}
