.notification {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  transition: all 0.25s linear;
}

.notification-container__content {
  margin-top: 20px;
  width: 510px;
  height: 600px;
  background: rgba(0, 0, 0, 0.9);
  background-size: 100%;
  /**/
  border: 2px solid #0ff;
  box-shadow: 2px 3px 20px #0066ff;
  border-radius: 6px;
  overflow: hidden;
  transform: translateY(-200%);
}

.notification__content--title {
  position: relative;
  display: flex;
  padding: 10px 0px;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  background: url(https://shopfunyrobux.com/assets/img/flicker.gif);
  color: rgb(162, 155, 254);
}

.notification__content--title h3 {
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
  color: rgb(151 153 255);
}

.notification__content--title i {
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: rgba(253, 89, 89, 0.884);
}

.notification__content--title i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.notification__box--content {
  padding: 15px;
  text-align: center;
  overflow-y: scroll;
  word-wrap: break-word;
  color: #fff;
  font-family: 500;
}

.notification__box--content::-webkit-scrollbar {
  width: 10px;
}

.notification__box--content::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.notification__box--content::-webkit-scrollbar-track {
  background-color: transparent;
}

@media screen and (max-width: 576px) {
  .notification-container__content {
    width: 350px;
    height: 500px;
  }
  .notification__box--content {
    height: 440px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .notification-container__content {
    max-width: 450px;
    height: 500px;
  }
  .notification__box--content {
    height: 440px;
  }
}

@media screen and (min-width: 769px) {
  .notification-container__content {
    max-width: 550px;
    height: 500px;
  }
  .notification__box--content {
    height: 440px;
  }
}

.notification__content--title,
.notification__box--content {
  background-color: rgba(0, 0, 0, 0.6);
}
