.form-input input {
  background: transparent;
  border: 1px solid #0ff;
  color: #0ff;
}

.container__change-password .container__change-password--form .content__box--input input {
  width: 400px;
}

.container__change-password {
  width: 400px;
}

.message-error {
  display: block;
  color: red;
  font-weight: 500;
}

.message-successfully {
  color: rgb(0, 167, 0);
  font-weight: 500;
}
