.container__content--money-volatility .money-volatility tbody tr td button {
  color: #fff;
  font-weight: 600;
}

.show__detail--account {
  animation: colorBackground 5s infinite;
  -webkit-animation: colorBackground 5s infinite;
  -moz-animation: colorBackground 5s infinite;
  -o-animation: colorBackground 5s infinite;
}
