.container__box-profile--content .profile thead tr th {
  color: #0ff;
  font-size: 13px;
  padding: 10px;
}

.container__box-profile--content .profile thead tr .money {
  color: #edf100;
  font-size: 14px;
}
