/* .recharge__card-content {
  display: flex;
  justify-content: space-between;
} */

.recharge__card-content .content__box--input {
  /* width: 400px; */
}

.recharge__card-content .content__box--input select {
  width: 100%;
  background: transparent;
  color: #0ff;
  border: none;
  border-bottom: 2px solid #999;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 16px;
  outline: none;
}

/* .container__recharge-card .content__box--btn {
  width: 400px;
} */

.recharge__card-content .content__box--input select:focus {
  border-bottom: 2px solid #0ff;
}

.recharge__card-content .content__box--input select option {
  background: rgba(0, 0, 0, 1);
  color: #0ff;
}

.success {
  color: rgb(0, 167, 0);
  font-weight: 500;
}

.error {
  color: rgb(209, 0, 0);
  font-weight: 500;
}

.pagination li button:focus {
  box-shadow: none;
}

.container__recharge-card .container__notification p {
  padding: 10px 0px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/*---------------------------------------HISTORY RECHARGE CARD----------------------------*/
.container__history--recharge-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #0ff;
  display: inline;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.container__history--recharge-card .recharge-card {
  color: #0ff;
}
.container__table--recharge-card {
  margin-top: 20px;
  overflow-x: scroll;
}
.container__table--recharge-card table {
  min-width: 900px;
}

.container__table--recharge-card::-webkit-scrollbar {
  height: 7px;
}

.container__table--recharge-card::-webkit-scrollbar-thumb {
  background-color: #0ff;
  border-radius: 5px;
}

.recharge-card tbody tr td {
  color: rgb(66, 163, 248);
  font-weight: 600;
}

@media screen and (max-width: 1057px) {
  .container__table--recharge-card::-webkit-scrollbar-track {
    background-color: #999;
    border-radius: 5px;
  }
}
